.centered-config-label-text {
    width: 100%;
    text-align: center;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 2em;

    padding-top: .2em;
    padding-bottom: .2em;
}

.config-table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

.config-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.value-td {
    position: relative;
}

.save-success-check {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.save-success-check-fadein {
    animation: fadeIn ease .75s;
}

.save-success-check-fadeout {
    animation: fadeOut ease .75s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.basic-list {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #f2f2f2;
    list-style: none;
}

.config-pp-section {
    
}

.config-pp-title {

}

.config-pp-desc {
    font-size: .8em;
    font-style: italic;
    word-wrap: normal;
}

.config-pp-enabled-section {
    float: right;
    display: inline;
    padding-right: 0.5em;
}

.config-scraper-item {
    border-bottom: 1px solid lightgray;
}