html, body {
    height: 100%;
}

.float-right {
    float: right;
}

.word-break-all {
    word-break: break-all;
}

.display-flex {
    display: flex;
}

.scraper-textbox {
    width: 40%;
    display: inline;
    float: right;
}

.body-container {
    min-height: 80vh;
    max-width: unset;

    /* Same as left/right */
    padding-top: 15px;
    padding-bottom: 15px;

    margin-right: 0;
    margin-left: 0;
}

.footer-text {
    font-size: .8em;
    text-align: center;
}

.downloadTable {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
}

.downloadTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.navbar-items {
    margin-left: 1em;
}

.grindarr-logo {
    display: flex;
    flex-flow: row;
    font-size: 1.5em;
}

.grindarr-logo-left {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 100;
}

.grindarr-logo-right {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}

.loader {
    display: inline-block;
    margin-left: .5em;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}